# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env

# Data and FAISS vector store
backend/data/
backend/data_source/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/ 